<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
      <RollingFile name="File" fileName="./Logs/ApplicationLog.log" filePattern="./logs/automationLogs-%d{yyyy-MM-dd}.log">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="5 MB" />
      </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
   </Configuration>